.position{
    
    padding: 2px;

}
h3{
    margin: 0px;
    padding: 0px;
}
.positionLef{

    display: flex;
}

img{
    width: 130px !important;
    margin: 30px;

    border-radius: 50px !important;
}

.card-image{

    display: flex;
    align-content: center !important;
}

.comptact-left{
    width: 30%;
    font-weight: bolder;
}

.comptact-wright{
    font-weight: bold;
}

.position{
    padding-top: 30px;
}